.aside .logo a::before{
   border-top: 4px solid #ec1839;
   border-left: 4px solid #ec1839;
}

.aside .logo a::after{
    border-right: 4px solid #ec1839;
    border-bottom:4px solid #ec1839;
}
/* This creates the color of the motion in the nav var */
    .project .project-filter button.active,
    .home .intro p span,
    .about .about-content .about-text p span,
    .aside .nav li a:hover,
    .aside .nav li a.active{
        font-weight: 700;
        color: #ec1839;
    }
    .btn,
    .links,
    .section-title h2::after,
    .section-title h2::before,
    .aside .nav-toggler span,
    .aside .nav-toggler span::before,
    .aside .nav-toggler span::after,
    .home .intro .social-links a{
        background-color: #ec1839;
    }

    .project .project-filter button.active{
        border-color: #ec1839;
    }