@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

/*Reuasables */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #0d0630;
    min-height: 500vh;
    color:lavender;
}

ul{
    list-style: none;
}

img {
    width: 100%;
}

.nav{
    text-align: right;
}

.menu {
    margin: 0 30px 0 0;
}

.menu ul {
    text-decoration: none;
    line-height: 70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    text-align: right;
    display: none;
}

#toggle{
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 50px;
    z-index: 100000;
    background-color: #00001f;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: lavender;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.6s;
    padding: 0 10px;
    position: relative;

}

header .logo:before{
    content: '';
    height: 15px;
    width: 15px;
    border-top: 3px solid #e6f9af;
    border-left: 3px solid #e6f9af;
    position: absolute;
    top: 0;
    left: 0;

}
header .logo:after{
    content: '';
    height: 15px;
    width: 15px;
    border-bottom: 3px solid #e6f9af;
    border-right: 3px solid #e6f9af;
    position: absolute;
    bottom: 0;
    right: 0;

}
header .logo a{
    display: inline-block;
    
}

header ul{
    text-align: right;
}

header ul li span{
    color: lavender;
}

span {
   color: #8bbeb2; 
   font-weight: bolder;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li {
    position: relative;
    list-style: none;

}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #e6f9af;
    letter-spacing: 2px;
    transition: 0.6s;
}

section {
    margin: 0 auto;
    min-height: 100vh;
    padding: 100px 0;
    width: 80%;
    max-width: 1200px;
}

/*Reusable End */
/*Home Start*/
.home {
    box-sizing: inherit;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 300px;

}

.hometext {
    margin-top: 20rem;

}

.home .hometext h1{
    font-family: monospace;
    color: #e6f9af;
    font-weight: bolder;
    font-size: 5em;
    padding-bottom: 10px;
    animation: type 2.2s steps(6);
    overflow: hidden;
    border-right: 1px solid  #8892b0;
    width: 6ch;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 6ch;
    }
}

.home .hometext h2{
    color: #ccd6f6;
    font-size: 3em;
    font-weight: bolder;
}

    

.home .hometext p{
    padding-top: 2em;
    color:#8892b0;
    font-size: 1.2em;
}

.aside{
    box-sizing: border-box;
    width: 6rem;
    position: fixed;
    height: 100%;
    margin-top: 25rem;

}

.social-media{
    font-size: 3em;
    padding: 1rem;
    
}

.social-media i{
    color: lavender;
    transition: color 650ms;
}


.fa-twitter-square:hover{
    color: #38a1f3;
    transform: scale(1.2);
}
.fa-linkedin-square:hover{
    color: #2867B2;
    transform: scale(1.2);
}

.fa-github:hover{
    color: #e6f9af;
    transform: scale(1.2);
}
.fa-envelope-o:hover{
color: #8bbeb2;
transform: scale(1.2);
}

/*Home End*/
/*Heading start*/

.heading{
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .45);
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    }
    
    .heading::before,
    .heading::after{
        content: '';
        display: block;
        height: 0.2em;
        min-width: 10vw;
    }
    
    .heading::before {
        background: linear-gradient(to right, rgba(230,249,175,0), #ccd6f6);
        margin-right: 4vh;
      }
      
    .heading::after {
        background: linear-gradient(to left, rgba(240,240,240,0), #ccd6f6);
        margin-left: 4vh;
      } 
    
      .heading h1{
          font-size: 1em;
          margin-top: -1em;
          color: #e6f9af;
      }
    
      .heading span{
        font-size: 1.5em;
        color: #ccd6f6;
      }
    
      /*Heading End */
/* About Section*/

  
  .container-about {
    min-height: 80vh;

}

.profile-img {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    
}

.profile-img img {
    border-radius: 50%;
   

}


.about-details {
    margin-top: 3em;
    text-align: center;
    font-size: 1.2em;
    color: lavender;
}

.about-details ul{
    justify-content: center;
    display: grid;
    grid-template-columns: 10rem 10rem;
    list-style: none;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 2em 0 0 0;
    font-size: 0.8em;
}

.about-details ul li {
    border: 1px solid #e6f9af;
    border-radius: 15px 50px;
    padding: 0.3rem;
}
.about-details ul li:hover{
    background: lavender;
    color: #0d0630;
}

/*About End*/

/*Services Start */

.services {
    min-height: 100vh;
}

.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    text-align: center;
}

.skill{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;

}

.skill h1{
    color: #8892b0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2rem 2rem 0;
    font-size: 1.2em;
}



.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #e6f9af;
    background-color: #0d0630;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.icon-container i{
    color: #e6f9af;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}

.icon-container ul li{
    color: lavender;
}
/*End service*/
/*Portfolio Start*/

.portfolio-img{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    padding-top: 3em;
}

.card{
    position: relative;
    top: 5px;
    width: 400px;
    height: 550px;
    margin: 0 auto;
    background: #00001f;
    border: 1px solid black;
}

.card .card-img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    opacity: 0.5;

}

.card .card-img img{
    vertical-align: middle;
}

.card .card-img:hover{
    opacity: 1;
}

.card .card-details{
    widows: 400px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.card .card-details h6{
    font-size: 25px;
    padding: 1rem;
    overflow: hidden;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

.card .card-details p{
    color: #8892b0;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.43;
    letter-spacing: 0.5px;
    display: block;
    margin: 0px 0px;
}

.card .card-extras{
    color: black;
    padding: 2rem;
    color: lavender;
}

.card .card-extras i{
    color: lavender;
    font-size: 3rem;
}

.card-extras i:hover{
    transform: scale(1.2);
    color: #e6f9af;

}
.card .card-extras ul {
    padding: 2em;
    color: #e6f9af
}


/*Portfolio End */
/*Contact Form Start */
.container{
    width: 70%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.contact{
    background-color: #00001f;
    min-height: 100vh;
    margin-top: 500px;
   
}

form{
    width: 80%;
    margin: 0 auto;
    
}

form label{
    font-size: 1.5rem;
}

input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #e6f9af;
}

input[type="submit"]{
    width: initial;
    background-color: #e6f9af;
    color:#0d0630;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms; 
}
input[type="submit"]:hover{
    font-weight: bolder;
    color: #0d0630;
    background-color: #8bbeb2;
}
/*End Contact Form*/

/*Start footer*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #0d0630;
    padding: 2rem 0;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: lavender;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
   
    color: black;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1rem;
}
/*End footer*/

/*Start animation */
@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(230, 249, 175,0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(230, 249, 175,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(230, 249, 175,0);
    }
}

/*End animation*/

/*media queries */
@media screen and (max-width: 768px) {
    body{
        background-color: #0d0630;
    }

    header .logo{
        font-size: 1em;
    }
    header .logo:before{
        display:none;

    }
    header .logo:after{
        display: none;
    }

    header ul{
        font-size: 1em;
        font-weight: bolder;
    }
    
    header ul li span{
        display: none;
       
    }

    .home {
        width: 100%;

    }
    .home .hometext h1{
        font-size: 2.5em;
        
    }

    .home .hometext h2{
        font-size: 1.5em;
    }

    .home .hometext p{
        font-size: 1em;
    }

    .social-media{
        font-size: 2em;
    }

}

@media screen and (max-width: 500px) {
    body{
        background-color: #0d0630;
    }

    header .logo{
        font-size: 1em;
    }
    header .logo:before{
        display:none;

    }
    header .logo:after{
        display: none;
    }

    header ul{
        font-size: 0.5em;
        font-weight: bolder;
    }
    
    header ul li span{
        display: none;
       
    }

    label {
        display: block;
        cursor: pointer;
    }


    .menu {
        
        justify-content: center;
        width: 100%;
        display: none;
        
    }

    .menu ul {
        display: block;
        

    }

    .menu ul li {
        text-align: center;
        border: 1px solid lavender;
        margin: 0;

    }

    #toggle:checked + .menu{
        display: block;
    }

    #toggler:checked + .logo{
        display: none;
    }



    .home {
        width: 100%;

    }
    .home .hometext h1{
        font-size: 2.5em;
        
    }

    .home .hometext h2{
        font-size: 1.5em;
    }

    .home .hometext p{
        font-size: 1em;
    }

    .social-media{
        font-size: 2em;
    }

    .heading{
        font-size: 0.5em;

    }

    .profile-img{
        width: 10rem;
        height: 10rem;
        text-align: left;
    }

    .about-details{
        font-size: 1em;
    }

    section {
        padding-left: 60px;
    }

    form{
        width: 100%;
    }

    form label {
        font-size: 1em;
    }

    .up {
        right: 2rem;
        font-size: 1rem;
    }
}