* {
    width: 100%;
}

body {
    background-color: #18314f;
    color: #e6f9af;
}

/* Menu Start*/
header {
    background-color: #0D0630;
    
}

.top-nav {
    display: inline-block;
    
}

.top-nav a{
    float: right;
    color: #8bbeb2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;

}

.top-nav a:hover{
    color: #e6f9af;
    font-weight: bolder;
}

.top-nav a.active {
    color: #e6f9af;
}
